.global-container {
    min-width: 320px;
    max-width: 500px;
    min-height: 100vh;

    margin: 0 auto; /* for global centering */
    background-color: white;
}

.header .wrapper {
    background-color: var(--red);
}
