.wrapper {
    display: flex;
    width: 100%;
    padding: 0 32px;
  }
  
  .route-btn {
    width: 100%;
    border: solid 3px var(--vivamagenta);
    padding: 5px;
    border-radius: 10px;
  }
  
  .route-btn-journey {
    background-color: var(--journey-color);
  }
  
  .route-btn-collection {
    background-color: var(--collections-color);
  }
  
  .route-btn-collection:hover {
    background-color: var(--background);
  }
  
  .route-btn.active {
    background-color: var(--vivamagenta);
    color: var(--graylilac);
  }
  
  