.detail{
  background-color: var(--background);
}
.detail .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding-inline: 30px;
    line-height: 64px;
    margin-top:15px;
    background-color: var(--background);
  }

  .detail .header .back{
    text-align: left;
    font-size:35px;
    color:black;
    opacity: 0.5;
  }

  .detail .header .close{
    text-align: right;
    font-size:35px;
    color:black;
    opacity: 0.5;
  }
  
  .detail .content {
    text-align: center;
    width:100%;
    margin-bottom: 20px;
  }
  
  .detail .content .codi{
    border-radius: 10px;
    border: 2px solid black;
    width:90%;
    margin:10px;
    padding: 10px;
  }

  .detail .content .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-inline: 30px;
    line-height: 64px;
  }

  .detail .content .musinsa{
    width:40px;
    opacity: 0.9;
    margin-left: 5px;
    margin-right: auto;
  }
  
  .detail .content .share{
    font-size:40px;
    opacity: 0.9;
    margin-right:10px;
  }

  .detail .content .heart{
    font-size:40px;
    opacity: 0.9;
    margin-right:5px;
  }
  
  .detail .footer {
      text-align: center;
      background-color: var(--background);
  }

  .detail .similar{
    display: flex;
    justify-content: center;
    width:100%;
  }

  .detail .similar img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid red;
    padding: 10px;
  }