.detail .header {
    text-align: center;
    color: #fff;
    height: 64px;
    padding-inline: 50px;
    line-height: 64px;
    background-color: #7dbcea;
  }
  
  .detail .content {
    text-align: center;
    width:100%;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: var(--background);
  }
  
  .detail .content .codi{

    border-radius: 10px;
    border: 2px solid red;
    width:50%;
  }
  
  
  .detail .footer {
      text-align: center;
      color: #fff;
    background-color: #7dbcea;
  }

  .detail .similar{
    display: flex;
    justify-content: center;
    width:100%;
  }

  .detail .similar img {
    width: 80%;
    border-radius: 10px;
    border: 2px solid red;
  }